<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi</h1>
        <h2>Vui lòng quay lại trang trước!</h2>
    </hgroup>
</body>
</html>
